<section id="Erro" class="erro_sistema">
    <div class="animated zoomInDown">
        <img src="~/Imagens/LOGO-ERRO.png" alt="IMG" />
        <h5>OPS!</h5>
        <br />
        <p>Ocorreu um erro inesperado. Contactar o administrador do sistema!</p>
        <br />
        <input class="btn" type="button" value="OK">
    </div>
</section><script type="text/javascript">
    $('#Erro input').on('click', FecharJanelaErro);
</script>

