<section id="Erro">
    <div class="animated zoomInDown">
        <img src="~/Imagens/LOGO-ATENCAO.png" alt="IMG" />
        <h5>Usuário não Logado!</h5>
        <br />
        <p>Faça Login para ter acesso ao portal.</p>
        <br />
        <a href="~/Login/Inicio">
            <input class="btn" type="button" value="FAZER LOGIN">
        </a>
    </div>
</section>
